*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.6;
}

/* TYPO */
h1, h2, strong {
    font-weight: 700;
}

.hero-title {
    font-size: 1.5rem;
    line-height: 1.4;
}

.page-title {
    font-size: 3rem;
    grid-column: 2 / -2;
    margin: 0;
}

.subtitle {
    font-size: 1.125rem;
    grid-column: 2 / -2;
    margin-bottom: 3em;
}

.accent-color {
    color: #FFE600;
}

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px,500px) minmax(1em , 1fr);
    grid-column-gap: 1em;
}

@media (min-width:650px) {

    .main-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(180px, 320px)) minmax(1em, 1fr);
    }
    
   
}

.header {
    background: #000;
}

.header-content {
    display:flex;
    grid-column: 2 / -2;

}
/* NAVIGATION */

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;

}

.nav-link:hover,
.nav-link:focus {
    color:#FFE600;
}

.close-btn {
    border: 0;
    background: 0;
    color: #FFE600;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
    padding: .7em;
    position: absolute;  
}

.open-btn {
    border: 0;
    background: 0;
    color: #FFF;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
}

.logo-link {
    background: #FFE600;
    padding: 1em 1em 0 1em;
    margin-right: 1em;
}

.nav {
    position:fixed;
    background: #000;
    width: 100%;
    top: 0;
    right:0;
    left:100%;
    bottom:0;
    transform: translate(0);
    transition: transform 250ms;
    
    
}

.navigation-open {
    transform: translateX(-100%);
}

@media (min-width: 650px) {
    .open-btn,
    .close-btn {
        display: none;
    }

    .nav {
        position: initial;       
    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-start;
    }

    .nav-item {
        margin-right: 1em;
    }

    .nav-link {
        font-size: 1rem;
    }
}

/* HERO */
.hero {
    
    background-image: url(../img/hero-bg.jpg);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom top;
    padding: 4em 0;
}

.hero > * {
    grid-column: 2 / -2;
}
@media (min-width: 650px) {
    .hero > * {
        grid-column: 2 / 4;
}
}


.btn {
    padding: .5em 1.5em;
    font-weight: 700;
    background: #FFE600;
    color: #404040;
    justify-self: start;
}

.info{
    padding: 3em 0;
}

.col {
     grid-column: 2/-2;
     text-align: center;
}

@media (min-width: 650px) {
    .col {
        grid-column: span 1;
    }

    .col:first-child {
        grid-column: 2 / span 1;
    }
}

.section-title {
    font-size: 1.125rem;
    margin-top: 1.25em;
    
}


.footer {
    background: #EBEBEB;
    padding: 3em 0;
    text-align: center;
    grid-template-areas: 
    ". social ."
    ". main ."
}

.footer-main ,
.social-list{
    grid-column: 2 / -2;
}

.footer-main {
    grid-area: main;
}

.social-list {
    order: -1;
    list-style: none;
    padding: 0;
    margin: 0 0 1.6em;
    display: flex;
    justify-content: center;
    grid-area: social;
}

.social-link{
    color: #000;
    font-size: 1.75rem;
    margin: 0  .3em;
}

.social-link:hover {
    color: #777;
}

.footer-main {
    opacity: .7;
}

.footer-fineprint {
    font-size: 0.75rem;
    margin-top: 4em;
}

@media (min-width: 650px) {
   .footer {
       grid-template-areas: 
       ". main main social ."

   }

   .footer-main{
       text-align: left;
   }

   .social-list {
       justify-content: flex-end;
   }
}

/* Template page */

.main-image{
    grid-column: 2 / -2;
    width: 100%;
    margin-bottom: 3em;
    box-shadow: 5px 5px 0 black, 10px 10px 0 yellow;;
    
    
}

.main2-image{
    grid-column: 2 / -2;
    width: 100%;
    margin-bottom: 3em;
    box-shadow: 5px 5px 0 black, 10px 10px 0 yellow;;
    
}

.main-text {
    grid-column: 2 / -2;
}


.section-title:first-child {
    margin-top: 0;
}

@media (min-width: 650px) {

    .main-image {
        grid-column: 2;
        
    }

    .main-text {
        grid-column: 3 / -2;
        padding: 0 3em;
    }

    .page-title {
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }
}